/* styles.css */

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-custom {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
}

.button-li-custom {
    margin-right: 10px;
}

.button-li-custom:last-child {
    margin-right: 0;
}


.button-custom {
    padding: 5px 10px;
}

/* Ajoutez d'autres styles personnalisés si nécessaire */
