#dashboardprojectdark {
  background-color: var(--DTDarkGray);
}

#projectstatusbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--DTPink);
  color:var(--DTWhiteDarker);
  height:3.125rem;
  align-items: center;
  padding:0 3.125rem;
  font-size: 1.125rem;
  margin:1.5rem auto;
  width:68.75rem;
}

@media (max-width: 1024px) {
  #projectstatusbar {
    width: 100%;
  }
}

#custom {
  padding-bottom: 1rem;

}

.deleteButtonContainer {
  position: fixed;
  right: 6rem; 
  bottom: 1.5rem; 
}

.deleteButtonContainer {
  position: fixed;
  right: 5vw; 
  bottom: 2vh;
}