.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.form-container {
    width: 20rem;
    background-color: #f5f5f5;
    /* Fond blanc pour le formulaire */
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Ombre douce */
}

.login {

    font-weight: bold;
    text-align: center;
}

.Text {
    font-size: 0.8rem;

}