@import url('../index.css');

.page {
    /* Ajoutez le fond avec le logo en répétition */
    background-image: url('C:\Users\Beweb\Desktop\Projet CMS BeWeb\CMS Beweb\environment-cmsbeweb\frontend-cmsbeweb\src\logo\logo_beweb (Fixed).svg');
    background-repeat: repeat;
    /* Définissez la taille de l'image de fond */
    background-size: 11rem 4rem;
    /* Remplacez les valeurs par la taille désirée */
    /*background-size: 15.2rem 10rem*/
    position: relative;
    /* Ajoutez une position relative pour positionner les éléments enfants */
}

.page::before {
    content: '';
    /* Ajoutez du contenu pour créer le pseudo-élément */
    position: absolute;
    /* Positionnez le pseudo-élément par rapport à son conteneur */
    top: 0;
    /* Positionnez-le en haut */
    left: 0;
    /* Positionnez-le à gauche */
    width: 100%;
    /* Faites en sorte qu'il prenne toute la largeur */
    height: 100%;
    /* Faites en sorte qu'il prenne toute la hauteur */
    background-color: rgba(255, 255, 255, 0.594);
    /* Couleur de fond avec opacité */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    position: relative;
    /* Ajoutez une position relative */
    z-index: 1;
    /* Assurez-vous que le contenu soit au-dessus du pseudo-élément */
}

.form-container {
    width: 20rem;
    background-color: var(--LTWhiteDarker);
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Ajoutez une position relative */
    z-index: 2;
    /* Assurez-vous que le formulaire soit au-dessus du pseudo-élément */
}

.login {

    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Text {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;


}