@import url('../index.css');

.page {
    background-image: url('../logo/logo_beweb (Fixed).svg'); 
    background-repeat: repeat;
    background-size: 11rem 4rem;
    position: relative;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 247, 247, 0.594);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    position: relative;
    z-index: 1;
}

.form-container {
    width: 20rem;
    background-color: var(--LTWhiteDarker);
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.login {

    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Text {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;


}