/* GENERIC */

.ContainerCustom{
    display: inline-block;

    margin: auto;
    padding:3.125rem;

    min-width: fit-content;
    max-width: 68.75rem;

    border-radius: 1.5rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}


.ContainerCustom[darkmode=true]{
    background-color: var(--DTBlack) ;
}

.ContainerCustom[darkmode=false]{
    background-color: var(--LTWhiteDarker) ;
}
