/* GENERIC */

.ContainerCustom{
    margin: auto auto 3.125rem auto;
    
    padding: 3.125rem;

    min-width: fit-content;
    max-width: 68.75rem;

    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}


.ContainerCustom[isdarkmode=true]{
    background-color: var(--DTBlack) ;
}

.ContainerCustom[isdarkmode=false]{
    background-color: var(--LTWhiteDarker) ;
}
