/* GENERIC */

.HeaderButton{
    width: 6.25rem;
    height: 5.625rem;
    border-radius: 5%;
    align-content: center;
    border: none;
    cursor: pointer;
    padding: 0.625rem 0.625rem ;
  }
  
  .HeaderButton > * {
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
  }
  
  .HeaderButton > i {
    font-size: 40px;
  }
  
  .HeaderButton > label {
    margin-top: 0.15rem;
    font-size: 16px;
  }

/* DARK MODE */

.HeaderButton[darkmode=true] {
    background-color: var(--DTDarkGray);
}

.HeaderButton[darkmode=true] > * {
    color: var(--DTWhiteDarker)
}

.HeaderButton[darkmode=true]:hover{
    background-color: var(--LTPink);
}


/* LIGHT MODE */

.HeaderButton[darkmode=false] {
    background-color: var(--LTWhiteLighter);
}

.HeaderButton[darkmode=false] > i {
    color: var(--LTPink)
}


.HeaderButton[darkmode=false]:hover{
    background-color: var(--LTPink);
}

.HeaderButton[darkmode=false]:hover > * {
    color : var(--LTWhiteLighter);
}
