@import url('../../index.css');


.HeaderButtonContainer {
    display: inline-block;
    width: 80px;
    height: 70px;
    border-radius: 5px;
    padding: 10px;
    align-content: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: aquamarine;
}

.HeaderButtonContainer.darkmode {
    background-color: var(--DTBlack);
}

.ButtonText.darkmode {
    color: azure;
}

.HeaderButtonContainer:hover {
    background-color: var(--DTPink);
}

.HeaderButtonContainer.darkmode:hover {
    background-color: var(--LTPink);
}

.IconContainer {
    text-align: center;
    margin-bottom: 5px;
}

.IconContainer i {
    font-size: 40px;
    line-height: 40px;
}

.ButtonText {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}
