/* GENERIC */

.IconButton{
    padding: 0.625rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.IconButton > *{
    margin:0;
    padding:0;
    color: var(--LTPink);
    font-size: 1.5rem;
}