/* GENERIC */

.IconButton{
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.IconButton > * {
    margin:0;
    padding:0;
    color: var(--LTPink);
    font-size: 1.7rem;
}