/* GENERIC */

.ListItem {
    display: grid;
    width: 62.5rem;
    padding : 0rem 2.5rem;
    border-radius: 1.25rem;
    gap: 1.25rem;
  }
  
.ListItem > p {
    margin: 0;
    padding: 0;
    line-height: 3.75rem;
}

/* LIGHT MODE */

.ListItem[isDarkMode=false] {
    background-color: var(--LTWhiteLighter);
}


/* DARK MODE */

.ListItem[isDarkMode=true] {
    background-color: var(--DTDarkGray);
}

.ListItem[isDarkMode=true] > p  {
    color: var(--DTWhiteDarker);
}