.headerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.125rem;
    margin: 0 auto; 
    gap: 2.5rem;
}

.headerBody > svg {
    height: 5.625rem; 
    /* Ajuster la hauteur du logo */
    width: 13.25rem; 
    /* Ajuster la largeur du logo */
    cursor: pointer;
}