.pageCardButtons {
    width: fit-content;
    margin: auto auto;
}

.pagePreviewPlaceholder {
    width: 100%;
    aspect-ratio: 25 / 20;
    background-color: orange;
}

#PageCard{
    width:18.75rem;
    height: 22.188rem;
}