
/* Text Styles */

.titleText{
  font-family: 'Roboto';
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
}

.buttonText{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
}

.headerText{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
}

.textDefault{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 150%;
}
